.home_page {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;

  .center_homepage {
    width: 100%;
    margin: 20px;

    .intiule_filiere {
      text-align: center;
      font-size: 50px;
      padding: 18px;
    }

    .intiule_week {
      text-align: center;
      padding: 15px;
    }

    .container {
      background: var(--background);
      width: 95%;
      padding: 20px;
      margin: auto;
      padding-top: 0;
      margin-top: 0;
      display: grid;

      .row {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        padding: 15px;
        text-align: center;
        gap: 8px;
        padding: 10px;
        .hour {
          font-size: 18px;
          font-weight: bold;
        }
        .day {
          font-weight: bold;
        }
        .matiere {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: 1px solid #000;
          .salle {
            color: var(--danger);
          }
        }
      }

      .day {
        h2 {
          text-align: center;
          font-size: 45px;
        }

        .table {
          display: grid;
          grid-template-columns: 1fr 1fr;
          text-align: center;
          font-size: 21px;

          & > .heure,
          & > .matiere {
            padding: 10px;
          }

          & > .nothing {
            grid-column: span 2;
            border: 1px solid var(--border);
            padding: 20px 0px;
            margin: 10px;
          }
        }
      }
    }

    .footer_nb {
      position: fixed;
      bottom: 0;
      /* left: 0; */
      border-radius: 0px;
      font-size: 11px;
      padding: 11px 0px;
    }
  }
}
