.home_page {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 20px;

  .intiule_filiere {
    text-align: center;
    font-size: 50px;
    padding: 18px;
    span {
      color: var(--primary);
      @include textgradient;
    }
  }

  .intiule_week {
    text-align: center;
    padding: 15px;
  }

  .container {
    width: 95%;
    margin: auto;

    table {
      border-collapse: collapse;
      font-family: Arial, sans-serif;
      font-size: 16px;
      width: 100%;
      thead {
        background-color: var(--primary);
        th {
          padding: 10px;
          text-align: center;
          border-radius: 0px;
          color: var(--accent);
          border: 1px solid var(--border);
        }
      }
      tbody {
        tr {
          background-color: var(--background);
          &:nth-child(even) {
            background-color: var(--accent);
          }
          .day {
            font-weight: bold;
          }
          td {
            border-radius: 0px;
            padding: 10px;
            border: 1px solid var(--border);
            text-align: center;
            span {
              display: block;
              font-weight: bold;
              &:nth-child(2) {
                font-size: 14px;
                color: var(--writing);
                opacity: 0.5;
              }
              &:nth-child(3) {
                font-size: 12px;
                color: var(--danger);
              }
            }
          }
        }
      }
    }

    .content_days {
      margin-bottom: 20px;
      .title_day {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
      }
      .content_hour {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--background);
        border: 1px solid var(--border);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px var(--shadow);
        margin-bottom: 15px;
        .hour {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        .info_day {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 14px;
          color: var(--writing);
          span {
            margin: 3px 0;
            font-weight: bold;
          }
          span:first-child {
            font-size: 16px;
          }
          span:nth-child(2) {
            font-size: 14px;
            color: var(--writing);
            opacity: 0.5;
          }
          span:last-child {
            font-size: 12px;
            color: var(--danger);
          }
        }
      }
    }
  }

  .footer_nb {
    text-align: center;
    border-radius: 0px;
    font-size: 11px;
    padding: 11px 0px;
  }
}

.print {
  position: fixed;
  right: 15px;
  bottom: 20px;

  @extend %button;
}

@media screen and (max-width: 950px) {
  .home_page {
    .intiule_filiere {
      font-size: 30px;
    }
  }
}
